In [7]:
# Enter First Variable
a = int(input("Enter the First Day Reading:"))

Enter the First Day Reading:15

In [8]:
# Enter Second Variable
b = int(input("Enter the Second Day Reading:"))

Enter the Second Day Reading:25

In [9]:
# Print Sum of it
print(a + b)

40

In [11]:
# Check type of a and b
print(type(a))
print(type(b))

<class 'int'>
<class 'int'>

In [12]:
# print Id of variable
print(id(a))
print(id(b))

140728100381928
140728100382248

In [13]:
# Variable Initialization Together Seprated by Comma
a,b,c=125,147,195
print(a)
print(b)
print(c)

125
147
195

In [16]:
# Rule for Variable Naming (Variable name is case senstive)
abc = 100
Abc = 250
_125abc = 350
Dog_Name = "puppy"

print(abc)
print(Abc)
print(_125abc)
print(Dog_Name)

100
250
350
puppy