In [47]:
# Numeric Data Type Int
n =5
print(type(n))

# Implicit conversion into Float Data Type
print(type(float(n)))

<class 'int'>
<class 'float'>

In [53]:
# Numeric Data Type Float
p = 25.2
print(type(p))

# Implicit conversion into complex data type
p1 = p + 0j
type(p1)

<class 'float'>

complex

In [38]:
# Numeric Data Type Complex
q = 2 +6j
type(q)

complex

In [85]:
# String Data Type str
name = "Python Lover"
type(name)

# String Slicing
name[0:4]  # First 4 digit of string name
name[:4]   # First 4 digit of string name where : represent start of string from 0 index and 4 in ending index excluded here

name[4:] # Start printing from 4 index to the end of string 
name[-4] # start printing from right side 

name[2:10:2] # Here SubString contian letter at 2,4,6,8 index

#Print Reverse String
name[::-1]

name[12:0:-1]

# String Method

name.capitalize()  # Convert into Capitalize Case  (Output : Python Lover)
name.lower()    # Convert into Lower Case    (Output : python lover)
name.upper()   # Convert into Upper Case    (Output : PYTHON LOVER)
name.count("P")  # Find how many time specifc searchitem came to string
name.find("y") # Return index where specific search item found if not available it return -1
name.encode() # Return encoded version of string
name.swapcase() # Change the case of string all lower string item goes to bigger case and bigger to lower vice verse


combinestring = "This,is,a,string"
combinestring.split(",")  # Split function return splitted version of a string and convert type to list

['This', 'is', 'a', 'string']

In [120]:
# Sequence Data Type list
vals = [1,2,3,4,5]
type(vals)

len(vals) # TOtal number of list item
vals.count(5)  # Count number of item list item appear in a list as 5 is only available one time so result show 1
vals.append(6) # Append number on the end of the list
vals.append(7) # Append second item

vals.remove(1)    # remove method remove 
vals.reverse() # Reverse the list
vals.insert(1,70)  # Insert value at specific index
vals.pop(1)  # Insert Value at specific index
vals.pop(-1) # Remove Value from the right

vals.sort() # Sorted the List
vals

vals * 3 # Duplicate the List 3 time by multiplying it with any element

[3, 4, 5, 6, 7, 3, 4, 5, 6, 7, 3, 4, 5, 6, 7]

In [117]:
# Sequence Data Type tuple
vals2 = (1,2,3,4,5,6)
type(vals2)

vals2.count(2) # Count specific item inside the tuple
vals2.index(5) # Find the index of element 5

4

In [129]:
# Set Data Type
set1 = {1,2,3,4,5,6,7,8,3,5,7,8,6}
type(set1) # Find the type
len(set1) # Only return count of unique element inside set
set1 # Set remove all duplicate element while printing

set2 = {1,2,3,"a","b","c","d","e"}
print(set1 | set2)
print(set1 & set2)
set2 - set1 # Show non unique item from two set

{1, 2, 3, 4, 5, 6, 7, 8, 'd', 'a', 'c', 'e', 'b'}
{1, 2, 3}

{'a', 'b', 'c', 'd', 'e'}

In [43]:
# Sequence Data Type Range
x = range(2,50,2)
type(x)

range

In [44]:
# boolean Data Type
ispassed = True
type(ispassed)

bool

In [45]:
# Mapping Data Type
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))

<class 'dict'>

In [46]:
# Type Conversion
type(float(n))

float